* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

div.wrapper {
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #123456;
}

header {
  height: 50px;
}

header h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.time {
  margin: 15px auto;
}

.time p {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.time input {
  font-size: 20px;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  width: 95%;
  margin: 0 auto;
}

main div {
  color: #fff;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5%;
}

main div p {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}

main .lastBreast > p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #bd081c;
}

main .nextBreast > p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #09b83e;
}

main .leftBreast {
  background-color: #66fcf1;
}

main .rightBreast {
  background-color: #ffcb9b;
}

.history {
  color: #fff;
  margin: 0 auto 15px;
  width: 80%;
}

.history h2 {
  text-align: center;
  font-size: 20px;
  margin: 15px 0;
}

.history .history__headOfList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.history .history__headOfList p {
  width: 50%;
  text-align: center;
}

.history ul {
  list-style: none;
  width: 100%;
}

.history ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  color: black;
}

.history ul li div.leftBreast {
  background-color: #66fcf1;
}

.history ul li div.rightBreast {
  background-color: #ffcb9b;
}

.history ul li div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
}

.history ul li div p {
  width: 50%;
  text-align: center;
  font-size: 20px;
}

.history ul li .editRecord {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -ms-grid-rows: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
      grid-template-areas: "buttonLeft date" "buttonRight date";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #987654;
  overflow: hidden;
}

.history ul li .editRecord button {
  font-size: 20px;
}

.history ul li .editRecord button:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: buttonLeft;
}

.history ul li .editRecord button:last-of-type {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: buttonRight;
}

.history ul li .editRecord button.active {
  border: 1px solid red;
}

.history ul li .editRecord input {
  margin-left: 5px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: date;
  font-size: 20px;
  position: relative;
}

.history ul li .editRecord input::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */